{% extends 'smanager/base.html' %}

{% load static %}
{% block content %}

<div class="container" style="margin-top: 8%;">
    <div class="col-md-6 col-md-offset-3">     
       <div class="row">
           <div id="logo" class="text-center">
               <h1>This is Logo</h1><p>Song Management System</p>
           </div>
           <form role="form" id="form-buscar">
                <div class="form-group">
                    <div class="input-group">
                        <input id="autosearcher" class="form-control" type="text" name="search" placeholder="Search..." required/>
                        <script type="text/javascript">
	                        $(function(){
		                        var availableSongs = [
		                            {% for songs in Artiste %}
		                               {{ songs.song_title}}
		                            {% endfor %}
		                        ];
		                        $("#autosearcher").autocomplete({
			                        source:availableSongs
		                        });
	                        });
                        </script>
                        <span class="input-group-btn">
                             <button class="btn btn-info" type="submit">
                                 <i class="glyphicon glyphicon-search" aria-hidden="true"></i> Search
                             </button>
                        </span>
                    </div>
                </div>
            </form>
       </div>            
    </div>
</div>


{% endblock %}